:root {
    --green: #61BE6B;
    --green-dark: #70FC7F73;
    --green-light: #8DFB99;
    --text-main: #456278;
    --text-grey: #676767;
    --bg-grey: #E5E5E5;
    --bg-white: white;
    --nav-height: 90px;
    --transition: 0.1s;
}

/* colors for mobile view */ 
.green-bg {
    background-color: var(--green);
}
.white-bg {
    background-color: white;
}
.dark-bg {
    background-color: black;
}
.grey-bg {
    background-color: var(--bg-grey);
}
.main-text {
    color: var(--text-main);
}
.dark-text {
    color: black;
}
.white-text {
    color: white;
}
.green-text {
    color: var(--green)
}
.grey-text {
    color: var(--text-grey)
}
/* colors for mobile view ends */

/* class for button*/
.button-main {
    font-size: 15px;
    border: 4px solid var(--green);
    border-radius: 30px;
    padding: 13px 16px;
    transition: var(--transition);
}
/* class for button*/

/* colors for desktop view starts */
@media (min-width: 992px) {
    .green-lg-bg {
        background-color: var(--green);
    }
    .white-lg-bg {
        background-color: white;
    }
    .grey-lg-bg {
        background-color: var(--bg-grey);
    }    
    .dark-lg-text {
        color: var(--text-main);
    }
}
/* colors for desktop view starts */

body {
    margin-top: var(--nav-height);
}

h1, h2, h3, h4, h5 h6 {
    font-family: 'Montserrat-Bold';
} 

nav {
    height: 90px; /* navbar height remains the same both on mobile & desktop */
    z-index: 99;
}

/* mobile view starts  */

@media (max-width: 992px) {

    /* navbar mobile view starts */
    .nav-list {
        top: 90px;
        height: calc(100vh - 90px);
        transform: translateX(100%);
        transition: var(--transition);
    }

    .nav-list ul li a::after {
        height: 1px;
        width: 60%;
        content: "";
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        background-color: rgba(255,255,255, 0.5);
        z-index: 99;
        left: 50%
    }

    .nav-list ul li:last-child a::after {
        display: none;
    }

    .nav-phone-info {
        bottom: 1rem;
        transform: translateX(-50%);
    }

    .nav-phone-info img {
        width: 16px;
        height: 16px;
    }

    .nav-slide {
        transform: translateX(0%);
    }

    .hamburger-menu-btn {
        height: 30px;
        width: 40px;
    }
    .hamburger-menu-line {
        height: 5px;
        width: 40px;
        border-radius: 20px;
        transform: rotate(0);
        transition: var(--transition) ease-in-out;
    }
    .hamburger-menu-btn .hamburger-menu-line:nth-child(1) {
        transform-origin: left center;
    }
    .hamburger-menu-btn .hamburger-menu-line:nth-child(2) {
        margin-top: 12px;
        transform-origin: left center;
    }
    .hamburger-menu-btn .hamburger-menu-line:nth-child(3) {
        margin-top: 24px;
        transform-origin: left center;
    }
    .hamburger-menu-btn.open .hamburger-menu-line:nth-child(1) {
        transform: rotate(45deg);
        margin-left: 7px;
        margin-top: -1px;
    }
    .hamburger-menu-btn.open .hamburger-menu-line:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .hamburger-menu-btn.open .hamburger-menu-line:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: 27px;
        margin-left: 7px;
    }

    /* navbar mobile view ends */
 
}

    /* footer starts */
    footer {
        padding: 0 45px;
        }

    footer a {
        transition: var(--transition);
    }

    footer a:hover {
        color: var(--green);
    }

    footer > .container > p {
        font-size: 12px;
    }

    #contactus-footer {
        display: block;
    }
    /* footer ends */

/* mobile view ends */


/* desktop view starts */

@media (min-width: 992px) {

/* navigation starts */
nav img {
    width: 122px;
}

.nav-list {
    color: var(--text-main);
    font-size: 18px;
}

.nav-list ul li::before {
    height: 6px;
    width: 6px;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--green);
    z-index: 99;
    border-radius: 100%;
    left: -16px; 
}

.nav-list ul li {
    transition: var(--transition); 
}

.nav-list ul li:hover {
    transform: scale(1.05);
}

.nav-list ul li a {
    transition: var(--transition);
}

.nav-button a:hover {
    background-color: var(--green);
    color: white;
}

.nav-list ul .selected::after {
    height: 3px;
    width: 100%;
    content: "";
    position: absolute;
    top: 120%;
    background-color: var( --green);
    z-index: 99;
    border-radius: 5px;
    left: 0px;
}

/* navigation ends */ 

/* footer starts */
footer > .container > div + div > ul > li > img {
    width: 20px;
}


#contactus-footer {
    display: none;
}

/* footer ends  */

}

/* desktop view ends */


